.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  position: fixed;
  z-index: 100;
  background: rgb(176, 206, 179);
}

.logo {
  margin-left: 2rem;
  color: white;
  font-size: 1.15rem;
}

.navlinks{
  margin-right: 3rem;
}

.navlinks a {
  border: solid white;
  text-decoration: none;
  color: white;
  padding: 0rem 2.5rem;
  font-size: 1.15rem;
}

.navlinks a:hover {
  background-color: #ddd;
  color: black;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
  color: white;
  background: transparent;
  padding: 0rem calc((100vw - 1400px) / 2);
  overflow-x: hidden;
  position: relative;
}

.hero h1 {
  padding-bottom: 0rem;
  /* font-size: clamp(1rem, 5vw, 3rem); */
  font-size: 6rem;
  /* text-transform: uppercase; */
  color: black;
  font-weight: bold;
}

.hero p {
  padding-bottom: 4rem;
  font-size: clamp(1rem, 4vw, 1.5rem);
  line-height: 0;
  color:rgb(187, 185, 185);
  font-weight: bold;
}

.leftcolumn {
  border: 1px transparent;
  margin-left: 3rem;
  margin-right: 0.5rem;
  min-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 500px;
  position: relative;

}

.button{
  padding: 1.2rem 3.5rem;
  border-radius: 4px;
  border: solid white;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  color: white;
  background: rgb(176, 206, 179);
  cursor: pointer;
  outline: none;
  z-index: 1;
}

.button a:hover {
  background-color: transparent;
  color: white;
  font-weight: bold;
}


.rightcolumn{
  border: 1px transparent;
  z-index: 1;
  position: relative;
  margin-left: 0rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 500px;
}



.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  margin-left: 20rem;
  margin-right: 20rem;
  font-size: 1.15rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #616161;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #8A8A8A;
  border-color: #8A8A8A;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(176, 206, 179);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Add an active class to highlight the current page */
/* .topnav a.active {
  background-color: #04AA6D;
  color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
/* .topnav .icon {
  display: none;
} */
