.user_search_container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
}

.user_search_container_form {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.user_search_container_form > input {
  padding: 10px;
  font-size: 20px;
}
